package {{.PackageName}}

// {{.TypeName}} is the {{.PackageName}} client
type {{.TypeName}} struct {
}

// New is the constructor for {{.TypeName}}
func New() *{{.TypeName}} {
  return &{{.TypeName}}{}
}
