resp, err = {{.Method.MethodName}}(
{{range $index, $param := .Method.ParamsWithValues}}{{if .Value}}{{if gt $index 0}}, {{end}}{{if .OptionName}}{{.OptionName}}({{end}}{{.String}}{{if .OptionName}}){{end}}{{end}}{{end}}
)
if err != nil {
  t.Fatal(err)
}
body, err = resp.DecodeBody()
if err != nil {
  t.Fatal(err)
}
