body, err = resp.DecodeBody()
if err != nil {
  t.Fatal(err)
}
for name, expectedValue := range map[string]string{
  {{range $name, $value := .}}"{{$name}}" : "{{$value}}",
{{end}} } {
  value, ok := body[name]
  if !ok {
    t.Fatalf("response does not contain %q", name)
  }
  if value != expectedValue {
    t.Fatalf("expected %q to be %q, got %q", name, expectedValue, value)
  }
}
