package api

import (

  {{range .Apis}}"{{.PackageRepo}}"
  {{end}}
)

type Api struct {
{{range .Apis}}
  // {{.APIName}} is the {{.PackageName}} client
  {{.APIName}} *{{.PackageName}}.{{.TypeName}}
{{end}}
}

// New is the constructor for Api
func New() *Api {
  return &Api{
    {{range .Apis}}{{.APIName}}: {{.PackageName}}.New(),
    {{end}}
  }
}
