if v, err := body.GetValue(`{{.Key}}`); err == nil {
  if i, ok := v.(int); ok {
    if !(i {{.Operator}} {{.Value}}) {
      t.Fatalf("unexpected value for %q: %d (expected: %d)", `{{.Key}}`, i, {{.Value}})
    }
  } else {
    t.Fatalf("unexpected type for %q: %T (expected int)", `{{.Key}}`, v)
  }
} else {
  t.Fatalf("unable to find key %q: %s", `{{.Key}}`, err)
}
