for name, expectedValue := range map[string]string{
  {{range $name, $value := .}}`{{$name}}` : `{{$value}}`,
{{end}} } {
  v, err = body.GetValue(name)
  if err != nil {
    t.Fatal(err)
  }
  if v != expectedValue {
    t.Fatalf("expected %q to be %q, got %q", name, expectedValue, v)
  }
}
