for name, expectedValue := range map[string]string{
  {{range $name, $value := .}}`{{$name}}` : `{{$value}}`,
{{end}} } {
  v, b = body.GetValue(name)
  if !b {
    t.Fatalf("response does not contain %q", name)
  }
  if v != expectedValue {
    t.Fatalf("expected %q to be %q, got %q", name, expectedValue, v)
  }
}
