---
name: Lint

on: # yamllint disable-line rule:truthy
    push: null
    pull_request: null

permissions: {}

jobs:
    build:
        name: Lint
        runs-on: ubuntu-latest

        permissions:
            # contents permission to clone the repository
            contents: read
            packages: read
            # issues and pull-requests permissions to write results as pull
            # request comments. Omit them if you don't need summary comments
            issues: write
            pull-requests: write
            # To report GitHub Actions status checks. Omit if you don't need
            # to update commit status
            statuses: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v5
              with:
                  # super-linter needs the full git history to get the
                  # list of files that changed across commits
                  fetch-depth: 0
                  persist-credentials: false

            - name: Load super-linter configuration
              run: grep -v '^#' .github/super-linter.env >> "$GITHUB_ENV"

            - name: Super-linter
              uses: super-linter/super-linter/slim@v8.4.0
              env:
                  # To report GitHub Actions status checks
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
